<div class="about-section">

    <h1>WILD</h1>
    <p>Welcome to WILD, your dedicated portal into the heart of nature. We are a unique platform that brings the thrill and beauty of wildlife right to your screens.</p>
    <p>Our mission is to foster a deeper understanding and appreciation of the natural world. We believe in the power of visual storytelling to educate, inspire, and ignite conversations about wildlife and conservation.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/ceo2.jpg" alt="WilliamDoherty" style="width:100%; height: 100%;">
        <div class="container">
          <h2>William Doherty</h2>
          <p class="title">CEO & Founder</p>
          <p>"I will protect animals at all cost"</p>
          <p>WDoherty@gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/cofounder.png" alt="RoselynCharles" style="width:100%; height: 100%;">
        <div class="container">
          <h2>Roselyn Charles</h2>
          <p class="title">C0-Founder</p>
          <p>"Animals have place in our hears and planet"</p>
          <p>RoseC@gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/chief.jpg" alt="FunkaBonka" style="width:100%">
        <div class="container">
          <h2>Funka Bonka</h2>
          <p class="title">Senior Chief Manager</p>
          <p>"I'm growing up in Safari and animals is my best friend"</p>
          <p>FunkaBonka@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="about-section">
    <p>At WILD, we curate a diverse range of high-quality videos from around the globe, showcasing the fascinating behaviors and incredible adaptations of animals in their natural habitats. Our platform serves as a window into the wilderness, allowing users to explore the untamed corners of our planet from the comfort of their homes.</p>
    <p>Join us on this journey to explore the wild, learn about the intricate balance of ecosystems, and be part of a community that values and strives to protect our planet’s biodiversity. Together, let’s celebrate the wonders of wildlife and work towards a sustainable future.</p>
  </div>

<footer>
    <p style="text-align: center; margin-top: 100px;">All Right Reserved | WILD  © 2024 </p>
</footer>